# Database

ConnectionStrings__DefaultConnection=Server=tcp:cinema-system-sql.database.windows.net,1433;Initial Catalog=cgv-premium-db;Persist Security Info=False;User ID=YOUR_DB_USERNAME;Password=YOUR_DB_PASSWORD;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

# JWT

Jwt__Issuer=CinemaBooking.API
Jwt__Audience=CinemaBooking.Client
Jwt__SigningKey=YOUR_JWT_SIGNING_KEY
Jwt__AccessTokenExpirationMinutes=60

# Email (SMTP)

Email__Host=smtp.gmail.com
Email__Port=587
Email__EnableSsl=true
Email__FromAddress=[your-email@gmail.com](mailto:your-email@gmail.com)
Email__FromName=CV Premium
Email__Username=[your-email@gmail.com](mailto:your-email@gmail.com)
Email__Password=YOUR_EMAIL_APP_PASSWORD

# Cloudinary

Cloudinary__CloudName=your-cloud-name
Cloudinary__ApiKey=your-cloudinary-api-key
Cloudinary__ApiSecret=YOUR_CLOUDINARY_API_SECRET
